#title {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 30px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    font-family: 'Roboto', sans-serif;
}

.header-title{
    display:block;
    line-height: 0fr;
    margin-left: 215px;
    font-family: Roboto,sans-serif;
}

#menu {
    box-shadow: 0px 0px 8px rgba(0,0,0, 0.4);
    position: fixed;
    height: 100vh;
}


a {
    text-decoration: none;
    color: #a0a0a0;
    margin-left: 20px;
    color:rgb(100, 100, 100);
}

li {
    border-bottom: solid 2px #d2d2d2;
    font-size: 20px;
}

.spaceless-text {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 40px;
}

#header {
    display: flex;
    background: #FDF1EB;
    color: rgb(100, 100, 100);
    width: 100%;
    margin-left: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

#language-selection{
    margin: auto;
    margin-right: 0px;
    box-shadow: none;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: transparent;
    color: #333333;
}

#video-container{
    margin-right: 10px;
}

#video-title {
    FONT-WEIGHT: 900;
    color: #ED7839;
    font-size: 20px;
}

.quote-button{
    background: #ED7839;
}
.quote-button:hover{
    background: #ED7839;
}

#quote-work{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.citar-trabalho{
    display: flex;
    justify-content: flex-end;
}

.citar-trabalho p{
    color: #ED7839;
    text-align: right;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.15em;
}

.button-space{
    margin-top: 10px;
    margin: 3px;
    box-shadow: none;
    border-radius: 4px;
}

.card{
    padding-bottom: 5px;
    height: 100%;
    box-shadow: none;
    border: 1px solid #ECECEC;
}

.card .card-header {
    background: #FDF1EB;
    font-weight: bold;
    font-size: 20px;
}

.card .card-header p{
    margin: auto;
    padding: 10px;
}

#description-content{
    height: 150px;
    overflow: hidden;
}

#content{
    margin: auto;
    margin-left: 250px;
    margin-right: 20px;
}

#resum:hover{
    cursor: pointer;
}

.discussion-icon{
    margin: auto;
}

#create-topic{
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: none;
    width: 250px;;
}

.hoverable{
    border-radius: 5px;
    padding: 10px;
}

.footer{
    margin: auto;
    margin-left: 250px;
}

.card .card-content p{
    margin-bottom: 15px;
    font-family: 'Quicksand', sans-serif;
}

.video-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    width: 100%;
    justify-content: space-between;
}

.text-area{
    border:none;
    resize: none;
}

.form-content-box{
    border: solid 1px #E7E7E7;
    border-radius: 4px;
}

.form-content-footer{
    justify-content: space-between;
    display: flex;
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
}

.form-content-footer div p{
    margin-top: 10px;
}

#topic-subject{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.form-fields-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ED7839;
}

.comment-card{
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.comment-card-subject{
    color: #ED7839;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    line-height: 20px;
    color: #ED7839;
}

.comment-card-author{
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
}

.comment-card-content{
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
}

.profile-show{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-right: 40px;
}

.divider{
    margin-top: 35px;
    margin-bottom: 35px;
}

.footer-divider{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 230px;
}

.footer-direction{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

@media screen and (max-width: 993px){

    .galoa-logo{
        margin: auto;
    }

    .footer-direction{
        flex-direction: column;
        justify-items: center;
    }

    .footer-divider{
        margin-left: 0;
    }

    .card{
        margin: auto;
        margin-bottom: 25px;
    }

    .profile-show{
        margin: auto;
    }

    .video-box{
        flex-direction: column;
        margin-bottom: none;
    }

    .citar-trabalho{
        justify-content: left;
    }

    #quote-work{
        justify-content: flex-start;
    }

    #header{
        justify-content: center;
    }

    #content{
        margin-left: 20px;
    }

    #language-selection{
        margin:auto;
    }

    #header {
        flex-direction: column-reverse;
    }

    .header-title{
        display:block;
        line-height: 0fr;
        margin: auto;
        font-family: Roboto,sans-serif;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    #menu{
        display: none;
    }

    .footer{
        margin: auto;
    }
}